/* Responsive Styles */
@media only screen and (max-width: 600px) {
  body {
    background-size: auto; /* Adjust background size for smaller screens */
  }

  .container {
    border-radius: 0; /* Remove border-radius on smaller screens */
    box-shadow: none; /* Remove box-shadow on smaller screens */
  }

  .wrapper {
    grid-template-columns: 1fr; /* Switch to a single column layout on smaller screens */
  }

  .img_section {
    border-radius: 0; /* Remove border-radius on smaller screens */
    transform: none; /* Remove transform on smaller screens */
  }

  .default_info img {
    width: 100%; /* Make images fill the container on smaller screens */
  }

  .default_info h2 {
    font-size: 2rem; /* Adjust heading size on smaller screens */
  }

  .content_section form input {
    width: 100%; /* Make input field full width on smaller screens */
  }

  .list_content ul {
    flex-direction: column; /* Stack list items in a column on smaller screens */
  }
}
